@import 'loader.css';
@import 'esri.css';

:root {
    --qitp-primary-color: rgb(27, 45, 107);
    --qitp-secondary-color: rgb(244, 132, 32);
    --qitp-tertiary-color: rgb(255, 255, 255);
    --qitp-quaternary-color: rgb(50, 50, 50);
}

html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    color: var(--qitp-primary-color);
    background-color: var(--qitp-tertiary-color);
    overflow: hidden;
}
#titleDiv {
    position: absolute;
    display: flex;
    z-index: 1000;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    background-color: color-mix(
        in srgb,
        var(--qitp-tertiary-color) 90%,
        transparent
    );
    color: var(--qitp-blue);
    border-bottom: 1px solid var(--qitp-tertiary-color);
}
#title {
    margin: 0px;
    padding: 10px 20px 0px 20px;
    font-size: 18px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
#logo {
    height: 30px;
    padding-right: 20px;
    vertical-align: middle;
    filter: drop-shadow(0px 0px 4px var(--qitp-tertiary-color));
}
button, a, a:visited {
    border: none;
    color: var(--qitp-primary-color);
    background: none;
}
button:hover, a {
    color: var(--qitp-secondary-color);
    cursor: pointer;
}
#menuButtonDiv {
    display: flex;
    align-items: center;
}
#menuButton {
    font-size: 24px;
    margin-right: 20px;
    min-width: 120px;
    text-transform: uppercase;
}
#menuButton calcite-icon {
    vertical-align: top;
}
#menuItemsContainer {
    display: none;
    position: absolute;
    left: 0px;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
    justify-content: center;
    align-items: center;
    padding: 0px;
    z-index: 1002;
    text-align: center;
    background-color: color-mix(in srgb, var(--qitp-tertiary-color) 50%, transparent);
}
#menuItemsContent {
    width: 100%;
    max-width: 480px;
    max-height: 100%;
    overflow-y: auto;
    background-color: color-mix(in srgb, var(--qitp-tertiary-color) 90%, transparent);
    padding: 20px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
}
#menuItemsContainer.active {
    display: flex;
}
#menuItemsContainer a {
    padding: 0px;
    margin: 0px;
    line-height: 2;
    text-decoration: none;
    right: 0px;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 2px solid var(--qitp-tertiary-color);
}
#menuItemsContainer a:hover {
    border-bottom: 2px solid var(--qitp-primary-color);
}
#menuItemsContainer ul {
    padding-top: 50px;
}
#menuItemsContainer li {
    list-style-type: none;
    padding-right: 25px;
    line-height: 50px;
}

.closeButton {
    float: right;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeButton:hover {
    filter: brightness(80%);
}

/* Bottom container styling */
#bottomContainer {
    position: absolute;
    z-index: 1;
    left: 0px;
    bottom: 0px;
    height: 300px;
    width: 100%;
    transition: transform 1s;
}
#bottomContainer.collapsed {
    transform: translateY(100%);
}
#bcDivToggle,
#bcDivResize,
#tableDivToggle,
#chartDivToggle,
#eViewDivToggle {
    position: absolute;
    top: -30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bcDivResize {
    right: 100px;
    width: 30px;
    font-size: 110%;
    visibility: hidden;
    user-select: none;
}
#bcDivToggle {
    right: 140px;
    width: 30px;
    font-size: 130%;
}
#tableDivToggle {
    right: 320px;
    width: 60px;
}
#chartDivToggle {
    right: 250px;
    width: 60px;
}
#eViewDivToggle {
    right: 180px;
    width: 60px;
}
#bcDivResize:hover {
    cursor: ns-resize;
}
#tableDivToggle.active,
#chartDivToggle.active,
#eViewDivToggle.active,
#tocLineChartDivToggle.active,
#tocBubbleChartDivToggle.active {
    color: var(--qitp-secondary-color);
}
#tableDiv,
#chartDiv,
#eViewDiv {
    position: absolute;
    background-color: var(--qitp-tertiary-color);
    opacity: 90%;
}
#chartDiv,
#eViewDiv {
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    overflow: auto;
}
#eViewDiv span {
    color: var(--qitp-secondary-color);
    font-weight: bold;
}
#tableDiv.hidden,
#chartDiv.hidden,
#eViewDiv.hidden {
    visibility: hidden;
}
/* Charts styling */
#tocLineChartDiv,
#tocBubbleChartDiv,
#tocLineChartCanvas,
#tocBubbleChartCanvas {
    height: 100%;
    width: 100%;
}
#tocLineChartDiv.hidden,
#tocBubbleChartDiv.hidden {
    display: none;
}
#tocLineChartDivToggle,
#tocBubbleChartDivToggle,
#tocBubbleChartToggle {
    position: absolute;
    top: 10px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tocLineChartDivToggle {
    right: 250px;
    width: 60px;
}
#tocBubbleChartDivToggle {
    right: 180px;
    width: 60px;
}
#tocBubbleChartToggle {
    top: 40px;
    right: 180px;
    width: 60px;
}
